// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load ngfilter %}

div(ng-cloak, ng-controller="basketsController")
 div
    uib-alert(
      ng-repeat="alert in alerts"
      type="{{ 'alert.level' | ng }}"
      close="closeAlert($item)"
      ng-click="closeAlert($item)"
    )
      {{ 'alert.message' | ng }}

 h1 {% trans "Baskets" %}
 .col-md-3
  div
     i.glyphicon.glyphicon-plus.mouse-pointer(title='{% trans "Create a basket" %}', ng-click="open('sm')")
   ul.list-group
     div(ng-repeat="it in baskets")
        li.list-group-item.mouse-pointer(ng-class="{active: cur_basket.id == it.id}", ng-click="showBasket($index)") {{ " it.name " | ng }}
            span.badge {{ " it.length " | ng }}


 .col-md-9
   .col-md-1

    .btn-group
     button.btn.btn-default.dropdown-toggle(data-toggle="dropdown", type="button", aria-haspopup="true", aria-expanded="false")
       i.glyphicon.glyphicon-cog
       span.caret
     ul.dropdown-menu
       li: a(href="#", ng-click="command()", title='{% trans "Mark all the cards to command" %}') {% trans "Command…" %}
       li: a(href="#", ng-click="receive_command()", title='{% trans "Receive a command and check you received all the books" %}') {% trans "Receive a command" %}…

   .col-md-1
     button.btn.btn-default.dropdown-toggle(data-toggle="dropdown", type="button", aria-haspopup="true", aria-expanded="false", title="{% trans 'Export the list to the required format' %}")
       i.glyphicon.glyphicon-download
       span.caret
     ul.dropdown-menu
       li: a(href="#", ng-click="export_csv('txt')") txt
       li: a(href="#", ng-click="export_csv('simple')") csv - {% trans "simple: isbn and quantity" %}
       li: a(href="#", ng-click="export_csv('pdf')") pdf - {% trans "with barcodes" %}

       // Continue:
       //- li: a(href="#", ng-click="export_csv('complete')") csv ({% trans "complete: with titles and more" %})
       //- li: a(href="#") pdf (without barcodes)

   .col-md-4
     h4   {{ 'cur_basket.name' |ng}}

   .col-md-6
          p.input-group
            input.nullable.form-control(
              type='text'
              typeahead-loading="loadingCards"
              ng-model='copy_selected'
              uib-typeahead='copy.repr for copy in getCards($viewValue)'
              typeahead-min-length="3"
              typeahead-on-select="add_selected_card($item)"
              title="{% trans 'Use TAB to validate your choice, Enter to proceed.' %}"
              id="default-input"
            )
            i.glyphicon.glyphicon-refresh(ng-show='loadingCards')

            span.input-group-btn
              button.btn.btn-default(type='button')
                i.glyphicon.glyphicon-refresh

   .row
     .col-md-6
     .col-md-2 {% trans "Number of copies" %}: {{ 'get_total_copies()'|ng}}
     .col-md-2 {% trans "total" %}: {{ 'get_total_price()'|ng}} €
   table.table.table-condensed.table-striped
     thead
       th {% trans "Title" %}
       th {% trans "In stock" %}
       th {% trans "Price" %}
       th
     tbody
       tr(ng-repeat="it in copies", ng-mouseenter="show_buttons[$index] = true", ng-mouseleave="show_buttons[$index] = false")
         td: a(href="{{ 'it.get_absolute_url' | ng}}") {{ 'it.title' | ng }}
         td {{ 'it.quantity' | ng}}
         td {{ 'it.price' | ng }} €
         td
          input.my-number-input(type="number", min=0, max=99, ng-model="it.basket_qty")
         td: i.glyphicon.glyphicon-remove.mouse-pointer(ng-click="remove_from_selection($index)", style="padding-left: 1em;", title='{% trans "Remove from basket" %}', ng-show="true || show_buttons[$index]")

 script(type="text/ng-template", id="basketModal.html")
    div.modal-header
      h3.modal-title {% trans "Create a basket" %}

    div.modal-body
      label {% trans "Name" %}
      input#default-input(type="text", ng-model="new_name")

      button.btn.btn-primary(ng-click="ok()") {% trans "OK" %}

{% endblock content %}