// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block auto_command_nb %} {{ auto_command_nb }} {% endblock %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}

h3 {% trans "Search in the stock" %}

div(ng-cloak, ng-show="cards", ng-controller="collectionController")

 div
    alert(
      ng-repeat="alert in alerts"
      type="{{ 'alert.level' | ng }}"
      close="closeAlert($item)"
      ng-click="closeAlert($item)"
    )
      {{ 'alert.message' | ng }}

 .row
  .col-md-6
   form
    div.form-group
      label.col-md-4 {% trans "Search terms" %}
      div.col-md-8
        input.form-control#default-input(
          ng-model="query"
          type="text"
          placeholder='{% trans "Search on title, authors or isbn" %}'
        )

 .row
   .col-md-6
    form
     div
        label.col-sm-4 {% trans "Type of card" %}
        div.col-md-8
          select.form-control(
            ng-model="card_type"
            ng-options="elt.name group by elt.group for elt in card_types"
          )

    div
      label.col-sm-4 {% trans "Publisher" %}
      div.col-md-8
        select.form-control(
          ng-model="publisher"
          ng-options="elt.fields.name for elt in publishers")

   .col-md-6
    form
     div.form-group
        label.col-sm-4 {% trans "Places" %}
        div.col-md-8
          select.form-control(
            ng-model="place"
            ng-options="elt.name for elt in places")

    div.form-group
      label.col-sm-4 {% trans "Shelf" %}
      div.col-md-8
        select.form-control(
          ng-model="shelf"
          ng-options="elt.fields.name for elt in shelfs")

 .row
  .col-md-4
     input.btn.btn-primary(value="{% trans 'Search' %}", ng-click="validate()", type="submit")

  //- span: a(href="{% url 'card_collection' %}?format=text")
        input.btn(type="submit", value="{% trans 'see as text' %}", style="float: right;")

 .row
   .col-md-8
   .col-md-2
     button.button.btn(ng-click="toggle_images()", title='{% trans "Hide and show covers" %}')
      i.glyphicon.glyphicon-th-list
   .col-md-1
     button.button.btn.btn-default(ng-click="open()", ng-show="selected", title='{% trans "Add the cards selected to basket(s)" %}'){% trans 'Add to…' %}
      i.glyphicon.glyphicon-pushpin


 table.row-border.hover(ng-show="cards", datatable="ng")
    thead
      th(ng-show="show_images")
      th {% trans "Title" %}
      th {% trans "Price" %}
      th {% trans "Authors" %}
      th {% trans "Publishers" %}
      th {% trans "Quantity" %}
      th {% trans "Places" %}
      th: input(type="checkbox", ng-click="toggleAll()")

    tbody
      tr(ng-repeat="card in cards")
        td(ng-show="show_images")
            .col-md-6(ng-show="show_images")
              img.myImg(ng-show="card.img", src="{{ 'card.img' | ng }}")
        td
          .row
            .col-md-9
              div: a(href="{{ 'card.get_absolute_url' | ng }}") {{ 'card.title' | ng }}
              h6(ng-show="show_images")
                a(ng-show="card.details_url", href="{{ 'card.details_url' | ng }}", target="_blank") {% trans "See on" %} {{ 'card.data_source' |ng}}
              .row(ng-show="show_images")
               .col-md-6
                b isbn: 
                span {{ 'card.isbn' |ng}}
        td
          div {{ 'card.price' | ng}} €

        td
          div(ng-repeat="author in card.authors")
            div {{ 'author.fields.name' |ng}}
        td {{ 'card.pubs_repr' | ng }}
        td {{ 'card.quantity' | ng }}
        td
          div(ng-show="card.places") {{ 'card.places' | ng}}

        td: input(type="checkbox", ng-model="selected[card.id]")

 script(type="text/ng-template", id="collectionModal.html")
    div.modal-header
      h3.modal-title {% trans "Add to basket(s)" %}

    div.modal-body
      div(ng-repeat="basket in baskets")
        span
          input(type="checkbox", ng-model="selected_baskets[basket.id]")
          label {{ 'basket.name' | ng}}

      button.btn.btn-primary(ng-click="ok()") OK

{% endblock content %}
