// Copyright 2014 The Abelujo Developers
// See the COPYRIGHT file at the top-level directory of this distribution

// Abelujo is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.

// Abelujo is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.

// You should have received a copy of the GNU General Public License
// along with Abelujo.  If not, see <http://www.gnu.org/licenses/>.
{% extends "base.jade" %}

{% block auto_command_nb %} {{ auto_command_nb }} {% endblock %}

{% block content %}

{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load ngfilter %}

div(ng-cloak, ng-controller="basketToCommandController")

  div
    uib-alert(
      ng-repeat="alert in alerts"
      type="{{ 'alert.level' | ng }}"
      close="closeAlert($item)"
      ng-click="closeAlert($item)"
    )
      {{ 'alert.message' | ng }}

  div.panel.panel-info
    div.panel-heading {% trans "Help" %}
    div.panel-body {% trans "The cards to command are grouped by distributor. Check the quantity you want to command and send them an email." %}
    div.panel-body {% trans "You can also export all this list to csv, wich will contain, for each card, the isbn and the quantity to command. This format is well suited to feed in the website of some resailers, like Dilicom." %}

  .row
    .col-md-1
     button.btn.btn-success.dropdown-toggle(type="button", data-toggle="dropdown", type="button", aria-haspopup="true", aria-expanded="false", title="{% trans 'Export the list to the required format' %}") {% trans "Export" %}
       span.caret
     ul.dropdown-menu
       li: a(href="#", ng-click="export_to('simple')") csv - {% trans "simple: isbn and quantity" %}

    .col-md-6
    .col-md-5
      div {% trans "Total" %}: {{'super_total_copies()'|ng}} {% trans "copies" %}, {{'super_total_price()'|ng}} €

  div(ng-repeat="(pub_id, cards) in sorted_cards")
        span
          .row
           h4.col-md-6 {{ 'grouped_dist[pub_id][0].name'|ng}}  
            a(href="mailto:{{'grouped_dist[pub_id][0].email'|ng}}?subject={% trans 'New command' %}&body={% trans 'Hello' %} %0D%0A %0D%0A {{ 'bodies[pub_id]' | ng }}", ng-click="get_body(pub_id)")
              i.glyphicon.glyphicon-envelope(title="{% trans 'Write to' %}  {{ 'grouped_dist[pub_id][0].email' | ng}} {% trans ' with your desktop mail client' %}")
           .col-md-6

        table.table.table-condensed.table-striped
            thead
              th {% trans "Title" %}
              th {% trans "Price" %}
              th {% trans "Quantity left" %}
              th {% trans "To command" %}
            tbody
              tr(ng-repeat="card in cards")
                td.col-md-7: a(href="{{ 'card.get_absolute_url' | ng}}") {{ 'card.title' | ng }}
                td.col-md-1 {{ 'card.price' |ng }} €
                td.col-md-1 {{ 'card.quantity' |ng }}
                td.col-md-1
                  input.my-number-input(type="number", min=0, max=99,
                    ng-model="card.basket_qty"
                    ng-change="save_quantity(pub_id, $index)")
                  i.glyphicon.glyphicon-remove.mouse-pointer(ng-click="remove_from_selection(pub_id, $index)", style="padding-left: 1em;", title='{% trans "Remove from list" %}')

              tr
                td.col-md-7 {% trans "Total" %}
                td.col-md-1 {{ 'get_total_price(pub_id)' |ng}}  €
                td.col-md-1
                td.col-md-1 {{'get_total_copies(pub_id)'|ng}}

  // we'll use the modal shortly !
  script(type="text/ng-template", id="commandModal.html")
    div.modal-header
      h3.modal-title {% trans "Command" %}
      div {% trans "The cards are grouped by distributor. Please check the list and confirm." %}

    div.modal-body
      div(ng-repeat="(pub_id, cards) in sorted_cards")
        h4 pub: {{ 'pub_id'|ng}}
        div(ng-repeat="card in cards")
          div {{'card.title'|ng}}

  //- button.btn.btn-primary(ng-click="open('lg')") {% trans 'Command…' %}

{% endblock %}